html , body{
    height: 100%;
    width: 100%;
    background: radial-gradient(rgb(5, 41, 241), transparent);
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid rgb(235, 8, 8);
    border-radius: 9px;
    cursor: pointer;
    width: 66px  ;
    font-size: 1.3rem;
}
.row{
    margin: 8px 0;
}
.row input{
    margin: 10px ;
    padding: 10px 0px;
    border: 2px solid rgb(242, 3, 242);
    border-radius: 4px;
    font-size: 28px;
}